.Meme {
  text-align: center;
  display: grid;
  max-width: 100%;
  background-color: #1c1c1c;
  padding-bottom: 3em;
  border-radius: 10px;

  .form {
    input {
      margin: 1em;
      margin-top: 2.2em;
      width: 25%;
      padding: 0.8em;
      font-size: 1.2rem;
      outline: none;
      border: 0;
      border-radius: 5px;
    }
    button {
      margin: 1em auto;
      padding: 0.8em 2em;
      font-size: 1.2rem;
      text-transform: uppercase;
      width: 53%;
      outline: none;
      border: 0;
      background: linear-gradient(90.41deg, #711f8d 1.14%, #a818da 100%);
      border-radius: 5px;
      color: rgb(86, 241, 241);
      cursor: pointer;
      transition: transform 0.3s ease-in-out;
      &:hover {
        transform: scale(1.1);
        color: rgb(219, 61, 61);
      }
    }
  }

  .meme-box {
    position: relative;

    img {
      max-width: 100%;
      // width: 53%;
      height: 60vh;
      object-fit: cover;
      margin: 0 auto;
      position: relative;
    }
    .memetext {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      text-shadow: 1px 3px 4px #000;
      display: inline-flex;
    }
    .topText {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      padding-top: 1em;
    }

    .bottomText {
      position: absolute;
      bottom: 0;
      padding-bottom: 1em;
    }
  }
}

@media (max-width: 767px) {
  .Meme {
    .form {
      #first-meme {
        margin-top: 2em;
      }
      input {
        width: 80%;
        margin-top: 1em;
        padding: 0.6em;
      }

      button {
        padding: 0.6em 1em;
      }
    }
    .meme-box {
      img {
        padding: 1em;
        height: 100%;
      }

      .memetext {
        font-size: 1rem;
      }
      .topText {
        padding-top: 2em;
      }

      .bottomText {
        padding-bottom: 2em;
      }
    }
  }
}
